{{> header}}
{{> info-campaign}}

<section class="donee">
	<div class="donee-data">
	 <ul class="tabs" id="tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Campaign</a></li>
      <li class="tabs-title"><a href="#panel2v">Comments</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <div class="responsive-embed widescreen">
				  <iframe width="775" height="500" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
				</div>
				<h5>These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best
				</h5>
				<br>
				<p>
					On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. <br><br>
					
					But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
				</p>
      </div>
      <div class="tabs-panel" id="panel2v">
        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
      </div>
    </div>
  </div>

	<div class="donee-donate">
		<button class="button donation-button expanded">Make a donation</button>
		<p id="founded-donors">Founded by 8 donors</p>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="founded-profile-pic">
			<img src="http://lorempixel.com/400/400/business/" alt="">
		</div>
		<div class="test">
			
		</div>
		<p>Share this project</p>
		<div class="button-group expanded">
		  <a class="button"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
		  <a class="button"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
		</div>

	</div>
</section>

{{> donation}}
{{> footer}}