<section class="login-responsive">
	<form class="offcanvas-form">
    <div class="row log-form">
      <label>
        <input type="text" placeholder="Username">
        <span class="icon-login-icon"></span>
      </label>
      <label>
        <input type="password" placeholder="Password">
        <span class="icon-password-icon"></span>
      </label>
      <p><a type="submit" class="button expanded">Sign in</a></p>
      <p class="text-center float-left"><a href="#">Forgot password?</a></p>
      <p class="text-right"><a href="#">Create an account</a></p>
    </div>
  </form>
</section>