.footer {
  background-color: $black;
  height: 230px;
  text-align: center;
}
.footer .footer-logo {
  @include grid-column(6);
  text-align: left;
  line-height: 230px;
  vertical-align: middle;
}
.footer .footer-social {
  @include grid-column(6);
  line-height: 230px;
  text-align: right;
  p {
    color: $white;
  }
  ul {
    float: right;
    li {
      a {
        color: $white;
        text-transform: capitalize;
        text-decoration: underline;
      }
      &:last-child {
        a {padding-right : 0px};
      }
    }
  }
}
.footer .footer-social-content {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}