.top-bar {
	@include breakpoint(765px down) {
		display: none;
	}
	background-color: $white;
	height: 85px;
	padding: 0px;
	@include scut-border(1px solid #e5e5e5, n n y n);
}
.top-bar .top-bar-left {
	@include grid-column(3);
}
.top-bar .top-bar-center {
	@include grid-column(6);
	text-align: center;
}
.top-bar .top-bar-right {
	@include grid-column(3);
}
.top-bar ul {
	line-height: 85px;
}
.top-bar ul > * {
	vertical-align: middle;
	display: inline-block;
} 
.top-bar-center ul {
	background-color: transparent;
	li {
		a {
		  @include scut-padding ( rem-calc(11) rem-calc(31.3));
			font-size: rem-calc(13);
			color: $black;
			text-transform: uppercase;
		}
	}
}
.top-bar-right {
	text-align: right;
	height: 85px;
	h4 {
		font-size: rem-calc(13);
		color: $black;
		line-height: 85px;
		.icon-login-icon {
			@include scut-margin(n 10px n n);
			vertical-align: middle;
		}
		a {
			color: $black;
			text-decoration: underline;
		}
	}
}
