$hero-color: white;

.hero {  
  @include breakpoint(medium down) {
    padding-top: rem-calc(65);
  };
  @include breakpoint(xsmall down) {
    min-height: 300px;
  };
  background-color: $hero-color;
  min-height: 500px;
  padding-top: rem-calc(85);

  .hero-inner {
    @include breakpoint(xsmall down) {
      line-height: 300px;
    };
    @include breakpoint(xsmall down) {
      @include grid-column(12);      
    };
    @include grid-column(8);
    @include grid-column-position(center);
    text-align: center;
    line-height: 500px;
  }
}

.hero .hero-items {
  vertical-align: middle;
  display: inline-block;
  h1 {
    font-family: 'kulturistalight';
  }
  form {
    @include breakpoint(small down) {
      width: 90%;
      font-size: rem-calc(13);
      input {
        font-size: rem-calc(13);
        text-align: center;
      }
    };
    position: relative;
    width: 60%;
    margin: 0 auto;
    input {
      @include scut-padding(n rem-calc(25));
      border: none;   
      border-bottom: 1px solid black;
      box-shadow: none;
      background: white;
      &::placeholder { /* Chrome/Opera/Safari */
       color: #000;
      }
    }
    i {
      position: absolute;
      left: 0;
      bottom: 12px;
    }
  }
}