.title-bar-responsive {
  @include breakpoint(766px up) {
    display: none!important;
  }
  transition: background-color 0.5s linear;
  position: fixed;
  height: rem-calc(65);
  width: 100%;
  a {
    line-height: rem-calc(65);
    left: rem-calc(10);
    position: absolute;
    img {
      width: 50px;
    }
  }
}

.hamburger-menu {
  @include breakpoint(766px up) {
    display: none!important;
  }
  text-align: right;
  ul {
    border-top: 0.5px solid $white;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 64px;
    width: 100%;
    li {
      text-align: center;
      a {
        color: $white;
        font-size: rem-calc(15); 
        cursor: pointer;
        &:hover {
          background-color: #f73888;
        }
      }
    }
  }
}
.burger-bg {
  position: absolute;
  right: 10px;
  top: 9.5px;
  width: 55px;
  height: 45px;
  border-radius: 5px;
  background-color: #fff;
}
.no-js {
  @include breakpoint(small only) {
    .hamburger-menu {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar-responsive {
      display: none;
    }
  }
}

// Medium only!
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .top-bar-center ul {
    li {
      a {
        @include scut-padding ( rem-calc(11) rem-calc(18));
      }
    }
  }
}




