.top-bar {
	@include breakpoint(medium down) {
		display: none;
	}
	@include grid-column;
	transition: all 0.5s;
	background-color: white;
	position: fixed;
	height: 85px;
	padding: 0px;
	@include scut-border(1px solid #e5e5e5, n n y n);
}
// Top bar Responsive //
.top-bar-responsive {
  @include breakpoint(xmedium up) {
    display: none!important;
  }
  background-color: black;
  z-index: 10;
  transition: background-color 0.5s linear;
  position: fixed;
  height: rem-calc(65);
  width: 100%;
  a {
    line-height: rem-calc(65);
    left: rem-calc(10);
    position: absolute;
    img {
      width: 50px;
    }
  }
}
.mobile-nav {
  @include breakpoint(xmedium up) {
    display: none!important;
  }
  text-align: right;
  ul { 
    z-index: 10;
    border-top: 0.5px solid $white;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 64px;
    width: 100%;
    li {
      text-align: center;
      a {
        color: $white;
        font-size: rem-calc(15); 
        cursor: pointer;
        &:hover {
          background-color: #f73888;
        }
      }
    }
  }
}
// End of top bar responsive

.top-bar .top-bar-left {
	position: absolute;
	left: 2.5%;
	transition: all 0.2s;
}
.top-bar-left a img {
	transition: all 0.2s;
	width: rem-calc(107);
}
.top-bar .top-bar-center {
	@include grid-column(100%);
	@include grid-column-position(center);
	text-align: center;
}
.top-bar .top-bar-right {
	top: 0;
	position: absolute;
	right: 2.5%;
}
.top-bar ul > * {
	vertical-align: middle;
	display: inline-block;
} 
.top-bar-center ul {
	background-color: transparent;
	transition: all 0.2s;
	line-height: 85px;
	li {
		a {
		  @include scut-padding ( rem-calc(11) rem-calc(31.3));
			font-size: rem-calc(13);
			color: $black;
			text-transform: uppercase;
		}
	}
}
.top-bar-right {
	text-align: right;
	height: 85px;
	transition: all 0.2s;
	h4 {
		font-size: rem-calc(13);
		color: $black;
		line-height: 85px;
		.icon-login-icon {
			@include scut-margin(n 10px n n);
			vertical-align: middle;
		}
		a {
			color: $black;
			text-decoration: underline;
		}
	}
}

// Css of scrolled top-bar
.scrolled-mobile {
	background-color: rgba(0, 0, 0, 0.85)!important;
}
.scrolled-desktop {
	z-index: 10;
	height: rem-calc(60)!important;
	.top-bar-left a img {
		width: rem-calc(66);
	}
	.top-bar-center .menu {
		line-height: rem-calc(60);
	}
	.top-bar-right h4 {
		line-height: rem-calc(60);
	}
}

// media query

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .top-bar-center ul {
    li {
      a {
        @include scut-padding ( rem-calc(11) rem-calc(18));
      }
    }
  }
}

