.donation {
	background-color: #f3f1f2;
}
.donation-breakdown {
	text-align: center;
	@include grid-column-position(center);
	@include grid-column(12);
	line-height: 320px;
	ul {
		display: table;
		width: 100%;
		li {
			@include breakpoint(small only) {
				display: 	initial;
				.donation-icon {
					margin: 0 auto;
				}
			}
			h6 {
				color: #1e1d1d;
				margin: 10px 0px 0px 0px;
			}
			p {
				font-size: 12px;
				color: #f57592;
			}
			.donation-icon {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background-color: white;
				transition: all 0.2s ease;
				&:hover {
					background-color: #f56485;
					i {
						color: white;
					}
				}
				i {
					line-height: 80px;
					color: #f56485;
					font-size: 50px;
				}
			}
			&:nth-child(2) {
				@include scut-padding(n 60px);
			}
		}
	}
	.donation-elements {
		h4 {
			margin-bottom: 30px;
		}
		@include breakpoint(small only) {
			h4 {
				margin-top: 15px;
			}
		}
		vertical-align: middle;
		display: inline-block;
	}
}
