@mixin sr-only() {
  position: absolute;
  left: -999em;
}
// Commit test
@mixin gradient-background() {
	// Needs latest Compass, add '@import "compass"' to your scss
	// Permalink - use to edit and share this gradient:
	// http://colorzilla.com/gradient-editor/#f62f88+0,f4a481+100
	background-color: rgb(246,47,136); // Old browsers
	@include filter-gradient(#f62f88, #f4a481, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgb(246,47,136) 0%,rgb(244,164,129) 100%));
}
