$icomoon-font-path: "../fonts/icomoon" !default;

$icon-square: "\e904";
$icon-search-icon: "\e905";
$icon-location: "\e906";
$icon-password-icon: "\e901";
$icon-close-icon: "\e902";
$icon-email-icon: "\e903";
$icon-login-icon: "\e900";

