.info-campaign {
	@include scut-padding(rem-calc(210) n rem-calc(140) n);
	@include breakpoint(medium down) {
		@include scut-padding(rem-calc(150) n rem-calc(85) n);
	}
	@include grid-row;
	@media screen and (max-width: 560px) {
		@include scut-padding(rem-calc(70) n rem-calc(35) n);
	}
}
 .info-campaign .info-campaign-title {
  @include grid-column(6);
  @include breakpoint(medium down) {
  	@include grid-column(8);
  }
  @media screen and (max-width: 560px) {
		width: 100%;
		text-align: center;
		h1 {
			font-size: 32px;
		}
		ul {
			display: inline-block;
			li:last-child {
				&:after {
					margin: 0px;
				}
			}
		}
  }
 	h1 {
 		font-size: 44px;
 		margin-bottom: 30px;
 	}
	ul {
		li {
			font-size: 14px;
			&:after {
				content: '';
				margin-right: 20px;
			}
			span {
				margin-right: 10px;
			}
			a {
				font-size: 14px;
				color: #000000;
				display: inline-block;
				padding: 0px;
				@include scut-margin(rem-calc(11) rem-calc(2))
			}
		}
	}
}
.info-campaign .info-campaign-founded {
  @include grid-column(6);
  @include breakpoint(medium down) {
  	@include grid-column(4);
  }
	position: relative;
	height: 188px;
 p {
    position: absolute;
    right: 15px;
    bottom: 0;
  }
  @media screen and (max-width: 560px) {
		width: 100%;
		.chart {
			@include scut-center-transform(x);
			right: initial;
		}
		p {
			@include scut-center-transform(x);
			right: initial;
		}
  }
}