.chart {
  position:absolute;
  width: 110px;
  height: 110px;
  top: 15px;
  right: 25px;
  canvas {
      display: block;
      position:absolute;
      top:0;
      left:0;
  }
  span {
     @include scut-center-transform;
      color:#000;
      line-height:110px;
      font-size: 26px;
  }
}